.container  {
    display: grid;
    grid-template:50px / 50px 50px 50px 50px;
    grid-auto-flow: r;
    grid-auto-columns: 50px;
    column-gap: 10px;
    row-gap: 50px;
}

.items {
    border: 1px solid rgb(214, 111, 21);
    display: grid;
}