* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 5px;
}

ul > li {
    list-style-type: none;
}

.logo {
    grid-column: 1;
    grid-row: 1;
}

.menu {
    grid-column: 2;
    grid-row: 1;
}


.nav {
    background-color: red;
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.menu > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: red;
}


.nav > ul > li {
    color: white;
    padding: 10px;
    font-weight: bold;
    display: grid;
    place-items: center;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 4px;
}

.header {
    background-color: gray;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1 / 3;
    grid-row: 1;
    align-items: center;
    font-weight: bold;
    padding: 15px;
}

.sidebar {
    background-color: red;
    grid-column: 1;
    grid-row: 2 / 4;
    display: grid;
    gap: 50px;
    place-items: center;
    padding: 15px ;
}

.sidebar > div {
    background-color: white;
    width: 100%;
    padding: 60px 30px;
    display: grid;
    place-items: center;
    border-radius: 4px;
}

.article {
    background-color: lightblue;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px;
    width: 100%;
}

.article > .card{
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 15px;
}

.title + p {
    text-align: left;
    margin-top: 10px;
}

.footer {
    background-color: rgb(49, 47, 47);
    grid-column: 1 / span 2;
    grid-row: 4;
    color: white;
    justify-items: center;
    padding: 20px;
}
