* {
    box-sizing: border-box;
}

.container {
    display: grid;
    resize: both;
    grid-template: repeat(auto-fit, minmax(150px, 1fr)) / repeat(auto-fit, minmax(50px, 1fr));
    overflow: hidden;
    gap: 15px;
}

.container > div {
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.header {
    background-color: rgb(13, 114, 58);
    grid-column: 1 / span 2;
    grid-row: 1;
}

.footer {
    background-color: rgb(82, 82, 82);
    grid-column: 1 / span 2;
    grid-row: 5;
}

.nav {
    background-color: rgb(113, 16, 224);
    grid-column: 2;
    grid-row: 2;
}

.sidebar {
    background-color: blue;
    grid-column: 1;
    grid-row: 2 / span 3;
}

.article {
    background-color: rgb(199, 88, 184);
    grid-column: 2;
    grid-row: 3 / span 2;
    overflow: hidden;
    overflow-y: auto;
}
