@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap";


body{
    font-family: "Josefin Sans", sans-serif;
    margin: 20px auto;
    max-width: 460px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button,
input, 
textarea {
    margin: 0;
    font-family: inherit;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

div{
    display: flex;
    justify-content: space-between;
}

textarea{
    width: 48.5%;
    height: 100px;
}

fieldset{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

legend{
    background: black;
    color: white;
    padding: 6px 20px;
}

input:read-only,
textarea:read-only{
    border: 0;
    box-shadow: none;
    background-color: white;
}

textarea:read-write{
    box-shadow: inset 1px 1px 3px #cccccc;
    border-radius: 5px;
}

div > button {
    margin: 0 auto;
    width: 50%;
}