.container {
    display: grid;
    grid-template: 100px 100px 100px 100px 100px / 100px 100px 100px 100px 100px;
    grid-template-areas: 
        "living-room living-room living-room living-room living-room"
        "living-room living-room living-room living-room living-room"
        "bedroom bedroom bathroom kitchen kitchen"
        "bedroom bedroom bathroom kitchen kitchen"
        "closet closet bathroom kitchen kitchen";
}

.item {
    border: 1px solid black;
    text-align: center;
}

.living-room {
    grid-area: living-room;
}

.bedroom {
    grid-area: bedroom;
}

.bathroom {
    grid-area: bathroom;
}

.kitchen {
    grid-area: kitchen;
}

.closet {
    grid-area: closet;
}

/*
    .living-room {
    grid-row: 1/3;
    grid-column: 1/6;
}

.kitchen {
    grid-row: 3 / 6;
    grid-column: 4 / 6;
}

.bathroom {
    grid-row: 3 / 6;
    grid-column: 3 / 4;
}

.bedroom {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}

.closet {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}
*/