.container {
    display: grid;
    grid-template: 100px 100px 100px 100px 100px / 100px 100px 100px 100px 100px;
    grid-template-areas: 
        "living-room living-room living-room living-room living-room"
        "living-room living-room living-room living-room living-room"
        "bedroom bedroom bathroom kitchen kitchen"
        "bedroom bedroom bathroom kitchen kitchen"
        "closet closet bathroom kitchen kitchen";
}

.item {
    border: 1px solid black;
    text-align: center;
}

.living-room {
    grid-area: living-room;
}

.bedroom {
    grid-area: bedroom;
}

.bathroom {
    grid-area: bathroom;
}

.kitchen {
    grid-area: kitchen;
}

.closet {
    grid-area: closet;
}

* {
  box-sizing: border-box;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

.box1 {
    grid-row: -4 / -1;
    grid-column: -2 /-1;
}

.box2 {
    grid-row: -3 / -1;
    grid-column: -3 /-4;
}

.box3 {
    grid-row: -2;
    grid-column: -3;
}

.box4 {
    grid-row: -4;
    grid-column: -4 / -2;
}

/*
    .box1 {
    grid-row: 1 / 4;
    grid-column: 1;
}

.box2 {
    grid-row: 1 / 3;
    grid-column: 3;
}

.box3 {
    grid-row: 1;
    grid-column: 2;
}

.box4 {
    grid-row: 3;
    grid-column: 2 / 4;
}
*/

/*
    .living-room {
    grid-row: 1/3;
    grid-column: 1/6;
}

.kitchen {
    grid-row: 3 / 6;
    grid-column: 4 / 6;
}

.bathroom {
    grid-row: 3 / 6;
    grid-column: 3 / 4;
}

.bedroom {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}

.closet {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}
*/