* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 100px 100px 500px 100px  / 250px 750px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    gap: 15px;
}

.container > div {
    border: none;
    border-radius: 10px;
}

.container * p {
    font-size: 0.5em;
    text-align: start;
}

.header {
    background-color: green;
    color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.footer {
    background-color: gray;
    color: white;
    grid-column: 1 / span 2;
    grid-row: 4;
}

.side-bar {
    background-color: rgb(15, 72, 179);
    color: white;
    grid-column: 1;
    grid-row: 2 / span 2;
}

.nav-bar {
    background-color: rgb(72, 15, 179);
    color: white;
}

.article {
    background-color: rgb(146, 15, 179);
    color: white;
    grid-column: 2;
    grid-row: 3;
    
    padding: 10px;
}